.circle_comp {
    display: flex;
    margin-bottom: 10px;
}
.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid grey;
    display: inline-block;
    cursor: pointer;
}
.name {
    display: inline-block;
    margin-left: 10px;
}
