<div class="gameArea">
	<div class="colorArea vBlock">
		<div class="note">
			<span class="bold">Note:</span> In this game you have to guess the sequence of colors. If you match all the sequence of the color you won the game. <br/>
			So enjoy. Happy playing !!!
		</div>
		<div class="note info">Availble colors</div>
		<div class="colorsArea">
			<app-circles my_class="Red"></app-circles>
			<app-circles my_class="Green"></app-circles>
			<app-circles my_class="Blue"></app-circles>
			<app-circles my_class="Cyan"></app-circles>
			<app-circles my_class="Yellow"></app-circles>
			<app-circles my_class="Magenta"></app-circles>
		</div>
	</div>
	<div class="expectedArea  vBlock">
		<div class="topBar">
			<div class="inline mDiv"></div>
			<div class="inline mDiv">1</div>
			<div class="inline mDiv">2</div>
			<div class="inline mDiv">3</div>
			<div class="inline mDiv">4</div>
		</div>

		<div [ngClass]="{'row': true, 'disable': data.nRoundNum != nActiveRound }" *ngFor="let data of aRound">
			
			<div class="inline mDivS">{{ data.nRoundNum }}</div>
			
			<div class="inline mDivS">
				<div class="circleDiv {{ data.userSeq[ 0 ] }}"></div>
			</div>
			<div class="inline mDivS">
				<div class="circleDiv"></div>
			</div>
			<div class="inline mDivS">
				<div class="circleDiv"></div>
			</div>
			<div class="inline mDivS">
				<div class="circleDiv"></div>
			</div>
		</div>

	</div>
	<div class="outputArea  vBlock"></div>
</div>