<div class="gameArea">
	<div class="colorArea vBlock">
		<div class="note">
			<span class="bold">Note:</span> In this game you have to guess the sequence of colors. If you match all the sequence of the color you won the game. <br/>
			So enjoy. Happy playing !!!
		</div>
		<div class="note info">Availble colors</div>
		<div class="colorsArea">
			<app-circles my_class="Red"></app-circles>
			<app-circles my_class="Green"></app-circles>
			<app-circles my_class="Blue"></app-circles>
			<app-circles my_class="Cyan"></app-circles>
			<app-circles my_class="Yellow"></app-circles>
			<app-circles my_class="Magenta"></app-circles>
		</div>
	</div>
	<div class="expectedArea  vBlock">
		
	</div>
	<div class="outputArea  vBlock"></div>
</div>