.gameArea {
    height: calc( 100% - 35px );
    display: flex;
}
.vBlock {
    height: calc(100% - 10px );
    display: inline-block;
    width: 33.3%;
    padding: 5px;
    border-right: 1px solid #000;
}
.note {
    font-size: 13px;
    font-family: cursive;
}
.info {
    margin: 5px 0px;
    text-align: center;
    font-size: 15px;
    color: navy;
}
.inline {
    display: inline-block;
}
.topBar {
    display: flex;
    border: 1px solid #777;
    margin-bottom: 5px;
}
.mDiv {
    width: 20%;
    text-align: center;
}
.row {
    display: flex;
    border: 1px solid #777;
    margin-bottom: 7px;
}
.mDivS {
    width: 20%;
    text-align: center;
    border-right: 1px solid; 
}
.circleDiv {
    /* background: red; */
    height: 15px;
    width: 15px;
    margin: 2px 0px 2px 7px;
    border-radius: 50%;
    border: 1px solid;
}
.disable {
    opacity: 0.5;
}
.buttonContainer {
    position: relative;
    bottom: 0;
    height: 50px;
    width: 100%;
    /* background: red; */

    display: flex;
    align-items: center;

    font-family: cursive;
}
.customBtn {
    height: 50%;
    border: 3px solid green;
    width: 48%;
    border-radius: 5px;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.customBtn span {
    width: 100%;
    text-align: center;
}

.resetBtn {
    margin-left: 2%;
}