.gameArea {
    height: calc( 100% - 35px );
    display: flex;
}
.vBlock {
    height: 100%;
    display: inline-block;
    width: 33.3%;

    border-right: 1px solid #000;
}
.note {
    padding: 5px;
    font-size: 13px;
    font-family: cursive;
}