<h1>
    This coming from Componet {{title}}
</h1>
<hr />
<app-async-pipe>Loading Async Pipe</app-async-pipe>
<hr />
<app-observing>Here Observer will load...</app-observing>
<hr />
<app-currency-pipe>Currency pipe Component loading....</app-currency-pipe>
<hr />
<app-date-pipe>Date pipe component loading here.....</app-date-pipe>
<hr />
<app-decimal-pipe>Decimal Loading....</app-decimal-pipe>
<hr />
<app-plural-pipe>Plural pipe loading.........</app-plural-pipe>
<hr />
<app-select-pipe>Select pipe loading...</app-select-pipe>
<hr />
<app-json-pipe>JSON pipe filter</app-json-pipe>
<hr />
<app-location>Location Class</app-location>
<hr />
<app-lowercase-pipe>Case</app-lowercase-pipe>
<hr />
<app-ng-class>ngClass</app-ng-class>
<hr />
<hr />
