.gameBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 500px;
    transform: translate( -50%, -50% );
    border-radius: 10px;
    background: #FFF;
    border: 5px solid #444;
}
.gameTitle {
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    border-bottom: 1px solid;
}